<!-- Clickable Card -->
<app-card 
  theme="light" 
  title="Google" 
  content="Click to visit Google."
  buttonText="Go"
  buttonType="primary"
  imageUrl="https://picsum.photos/200/300?random=4"
  link="https://www.google.com">
</app-card>
<!-- Expandable Card -->
<app-card 
  theme="dark" 
  title="Expandable Card" 
  content="Click to expand for more details."
  buttonText="Read More"
  buttonType="secondary"
  imageUrl="https://picsum.photos/200/300?random=1"
  [expandable]="true">
</app-card>
<!-- Expandable Card with Icon and Animation -->
<app-card 
  theme="primary" 
  title="Technology" 
  content="Click to expand for more details"
  buttonText="Read More"
  buttonType="secondary"
  imageUrl="https://picsum.photos/200/300?random=2"
  [expandable]="true">
</app-card>

<app-card 
  theme="danger" 
  title="Adventure Awaits" 
  content="Get ready for an exciting journey."
  buttonText="Start Now"
  buttonType="secondary"
  imageUrl="https://picsum.photos/200/300?random=3">
</app-card>
