<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formFields">
      <label [for]="field.name">{{ field.label }}:</label>
      <input
        *ngIf="field.type === 'text' || field.type === 'email' || field.type === 'number'"
        [type]="field.type"
        [formControlName]="field.name"
      />
      <div *ngIf="dynamicForm.get(field.name)?.invalid && dynamicForm.get(field.name)?.touched" style="color: red;">
        <div *ngIf="dynamicForm.get(field.name)?.errors?.['required']">{{ field.label }} is required.</div>
        <div *ngIf="dynamicForm.get(field.name)?.errors?.['email']">Invalid email format.</div>
        <div *ngIf="dynamicForm.get(field.name)?.errors?.['min']">Age must be at least 18.</div>
      </div>
    </div>
  
    <button type="submit" [disabled]="dynamicForm.invalid">Submit</button>
  </form>
  